extends layout
include details.pug
include history.pug

block content
  div.row.mt-5
    div.col-5
      +details(details, 'alliance', id)
    div.col-7
      +history('alliance', corporations, join, left)