extends layout
include details.pug
include history.pug

block content
  div.row.mt-5
    div.col
      +details(details, 'alliance', details.alliance_id)
    div.col
      +history('alliance', corporations, null, null)