include image.pug

mixin delta(title, contents, type, icon)
  div.table-responsive
    h5 #{title}&nbsp&nbsp
      if (icon == 'up')
        img(src='/images/up.svg', width= 30, height= 30, alt='').lazy
      else if (icon == 'down')
        img(src='/images/down.svg', width= 30, height= 30, alt='').lazy
      else if (icon == 'total')
        img(src='/images/total.svg', width= 30, height= 30, alt='').lazy

    table.table.table-bordered.table-dark.table-hover.align-middle
      thead.thead-light
        tr
          th.image
          th.align-center.name 名称
          th.align-center.number 角色数
          th.align-center.number 波动
      tbody
        if contents != undefined
          each row in contents
            tr
              td.image
                +image(type, row.id, 48, row.name)
              td.name
                a(href='/' + type + '/' + row.id)= row.name
              td.align-center.number= (row.member_count === null ? 0 : row.member_count)
              td.align-center.number= (row.diff_7days === null ? 0 : row.diff_7days)