mixin kb(type, id)
  if (type != undefined)
    if type == 'character'
      - type = 'pilot'
    else if type == 'corporation'
      - type = 'corp'
    h5
      a(href='https://kb.ceve-market.org/'+type+'/'+id target='_blank') KB链接
