doctype html
html
  head
    title= 'EVE户 - ' + title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='EVE户 - ' + title)
    link(rel='icon' href='/images/icon.svg')

    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')

    link(rel='preconnect', href='https://fonts.loli.net')
    link(rel='preconnect' href='https://fonts.loli.net' crossrigin)
    link(rel='stylesheet' href='https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@300;500&display=swap')
    //- link(rel='stylesheet' href='https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css')
    link(rel='stylesheet' href='/DataTables/datatables.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

  body.dark.d-flex.flex-column.min-vh-100
    //- include toast.pug

    div.wrapper.mb-3
      include navbar.pug
      
    div.container.mb-5
      block content

    footer.footer.mt-auto
      small
        center
          | Based on 
          a(href='https://github.com/zKillboard/evewho') zkillboard/Eve Who
          |  by Squizz
          br
          | Modified by 
          a(href='https://github.com/mintnick') mintnick
          br
          | 本网站的游戏内数据，所有权属于CCP Games和网易游戏
          br
          a.me-3(href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34020202000630" target="_blank") 皖公网安备 34020202000630号
          a(href="https://beian.miit.gov.cn/" target="_blank") 皖ICP备2022011579号-1

    script(src='/javascripts/jquery-3.6.0.min.js')
    script(src='/javascripts/bootstrap/popper.min.js')
    script(src='/javascripts/bootstrap/bootstrap.bundle.min.js')
    script(src='/javascripts/jquery.autocomplete.min.js')
    script(src='/DataTables/datatables.min.js')
    //- script(src='https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js')

    script(src='/javascripts/script.js')
