ul.nav.d-flex.justify-content-center
  .flex
    a.navbar-brand.logo(href='/')
      img(src='/images/icon.svg', width='30', height='30', alt='')
    a.navbar-brand(href='/') EVE户
  form(onsubmit= 'return false;' accept-charset="GB18030").d-flex.ms-1
    input.form-control.me-2(type='search', name='name', id='autocomplete' placeholder='角色/公司/联盟' aria-label='Search')
  li.nav-item
    a.nav-link(href='https://github.com/mintnick/evehu', target='_blank') GitHub
  li.nav-item
    a.nav-link(href='/submit') 补充数据
  li.nav-item
    a.nav-link(href="/info") 说明文档
  li.nav-item
    a.nav-link(href="/projects") 其它项目
  li.nav-item
    a.nav-link(href="/donate") 捐赠