include image.pug

mixin new(title, contents, type)
  if type == 'alliance' || type == 'corporation'
    - var show_mc = true;
  div.table-responsive
    h5 #{title}&nbsp&nbsp
      img(src='/images/new.svg', width= 30, height= 30, alt='').lazy
    table.table.table-bordered.table-dark.table-hover.align-middle
      thead.thead-light
        tr
          th.image
          th.text-center 名称
          th.text-center 起始时间
          if show_mc
            th.text-center 角色数
      tbody
        if contents != undefined
          each row in contents
            tr
              td.image
                +image(type, row.id, 48, row.name)
              td
                a(href='/' + type + '/' + row.id).small= row.name
              td.text-center(style="width: 37%")= row.birthday
              if show_mc
                td.text-center(style="width: 13%")= row.member_count