html {
  font-size: 16px;
  --join: #FFEB3B;
  --leave: #7E57C2;
  --up: #F44336;
  --down: #4CAF50;
  --title: #EFEBE9;
  --btnSelect: rgb(38, 77, 124);
}

body {
  background-color: #212121;
  padding: 30px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  color: #FAFAFA;
  /* font-size: 20px; */
  font-weight: 300;
  font-family: 'Noto Sans SC', sans-serif;
}

a {
  color: #00B7FF;
}


/* Navbar */
nav {
  font-size: 1.3rem;
}

.navbar-collapse form button {
  width: 100px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 500;
  margin-right: 0;
}

.logo {
  padding-top: 0px;
}

.donateBtn {
  font-size: 1.3rem;
  color:#000;
  --background: #fff;
  --border-color: linear-gradient(to bottom right, red, blue);
  --border-width: .125em;
  --edge-size: .5em;

  position: relative;
  isolation: isolate;

  display: inline-grid;
  padding: 0.4em 1.5em;
  border: 0;
  background-color: var(--background);
  clip-path: polygon(
      /* top-left 1 */
      0% var(--edge-size),
      /* top-left 2 */
      var(--edge-size) 0%,
      /* top-right */
      100% 0,
      /* bottom-right 1 */
      100% calc(100% - var(--edge-size)),
      /* bottom-right 2 */
      calc(100% - var(--edge-size)) 100%,
      /* bottom-left */
      0 100%
      );

  transition: color 250ms;
}

.donateBtn::before,
.donateBtn::after {
  content: '';
  position: absolute;
  inset: 0;
}

.donateBtn::before {
  background: var(--border-color);
  z-index: -2;
}

.donateBtn::after {
  background: var(--background);
  z-index: -1;

  clip-path: polygon(
      /* top-left 1 */
      var(--border-width)
      calc(var(--edge-size) + var(--border-width) * .5),
      /* top-left 2 */
      calc(var(--edge-size) + var(--border-width) * .5)
      var(--border-width),
      /* top-right */
      calc(100% - var(--border-width))
      var(--border-width),
      /* bottom-right 1 */
      calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * .5)),
      /* bottom-right 2 */
      calc(100% - calc(var(--edge-size) + var(--border-width) * .5))
      calc(100% - var(--border-width)),
      /* bottom-left */
      var(--border-width)
      calc(100% - var(--border-width))
      );

  transition: clip-path 500ms;
}

.donateBtn:where(:hover, :focus) {
  color: white;
}

.donateBtn:where(:hover, :focus)::after {
  clip-path: polygon(
      /* top-left 1 */
      calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * .5)),
      /* top-left 2 */
      calc(100% - var(--border-width))
      var(--border-width),
      /* top-right */
      calc(100% - var(--border-width))
      var(--border-width),
      /* bottom-right 1 */
      calc(100% - var(--border-width))
      calc(100% - calc(var(--edge-size) + var(--border-width) * .5)),
      /* bottom-right 2 */
      calc(100% - calc(var(--edge-size) + var(--border-width) * .5))
      calc(100% - var(--border-width)),
      /* bottom-left */
      calc(100% - calc(var(--edge-size) + var(--border-width) * .5))
      calc(100% - var(--border-width))
      );
}

/* Table */
table {
  font-size: 1.2em;
  padding: 0, 0;
}

table td.small {
  font-size: 16px;
}

table a {
  text-decoration: none;
}

table tr > td.image {
  width: 1%;
  white-space: nowrap;
}

.join {
  color: var(--join);
}
.join.active{
  color:var(--join) !important;
}
.join:hover{
  color:var(--join) !important;
}

.leave {
  color: var(--leave);
}
.leave.active {
  color: var(--leave) !important;
}
.leave.hover {
  color: var(--leave) !important;
}

.up {
  color: var(--up) !important;
}

.down {
  color: var(--down) !important;
}

h2.title {
  color: var(--title);
}

.table>:not(caption)>*>* {
  padding: .2em .2em;
}

/* auto-complete */
.autocomplete-suggestions { border: 1px solid #999; background: rgb(33,37,41); overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #20446f; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 10px 10px 0; font-weight: bold; font-size: 1.2em; color: gold;}
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/* Toast */
.toast {
  width: 70%;
}

.toast-body {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Submit form */
.submit-radio label {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  padding: 5px;
  border: 2px solid #CCC;
  border-radius: 5%;
  cursor: pointer;
  -webkit-appearance: button;
  /* WebKit */
  -moz-appearance: button;
  /* Mozilla */
  -o-appearance: button;
  /* Opera */
  -ms-appearance: button;
  /* Internet Explorer */
  appearance: button;
  /* CSS3 */
}

.submit-radio input[type="radio"] {
  position:fixed;
  opacity: 0;
  z-index: 100;
}

.submit-radio input[type="radio"]:checked+label,
.Checked+label {
  background: var(--btnSelect);
}

.submit-radio label:hover {
  background:var(--btnSelect);
}

input#name {
  text-align: center;
  font-size: 1.2em;
}

.submit-btn {
  min-width: 150px;
  font-size: 1.5rem;
}

.msg-success {
  color:rgb(100, 161, 88);
}

.msg-fail {
  color:rgb(213, 188, 46);
}

/* Donate page */
.qr-section img{
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}

.qr-section {
  color: black;
}