html {
  font-size: 16px;
  --join: #FFEB3B;
  --leave: #7E57C2;
  --up: #F44336;
  --down: #4CAF50;
  --title: #EFEBE9;
  --btnSelect: rgb(38, 77, 124);
}

body {
  background-color: #212121;
  padding: 30px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  color: #FAFAFA;
  /* font-size: 20px; */
  font-weight: 300;
  font-family: 'Noto Sans SC', sans-serif;
}

a {
  color: #00B7FF;
}


/* Navbar */
nav {
  font-size: 1.2rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 0;
}

.navbar
.navbar-nav
.nav-link {
  color: white;
}

.logo {
  padding-top: 0px;
}

/* Table */
table a {
  text-decoration: none;
}

@media only screen and (min-width: 1200px) {
  table {
    font-size: 1.2em;
    padding: 0, 0;
  }
  
  table td.small {
    font-size: 16px;
  }
  
  table tr > td.image {
    width: 1%;
    white-space: nowrap;
  }

  .table>:not(caption)>*>* {
    padding: .2em .2em;
  }
}

.join {
  color: var(--join);
}
.join.active{
  color:var(--join) !important;
}
.join:hover{
  color:var(--join) !important;
}

.leave {
  color: var(--leave);
}
.leave.active {
  color: var(--leave) !important;
}
.leave.hover {
  color: var(--leave) !important;
}

.up {
  color: var(--up) !important;
}

.down {
  color: var(--down) !important;
}

h2.title {
  color: var(--title);
}

/* auto-complete */
.autocomplete-suggestions { border: 1px solid #999; background: rgb(33,37,41); overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #20446f; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 10px 10px 0; font-weight: bold; font-size: 1.2em; color: gold;}
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/* Toast */
.toast {
  width: 70%;
}

.toast-body {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Submit form */
.submit-radio label {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  padding: 5px;
  border: 2px solid #CCC;
  border-radius: 5%;
  cursor: pointer;
  -webkit-appearance: button;
  /* WebKit */
  -moz-appearance: button;
  /* Mozilla */
  -o-appearance: button;
  /* Opera */
  -ms-appearance: button;
  /* Internet Explorer */
  appearance: button;
  /* CSS3 */
}

.submit-radio input[type="radio"] {
  position:fixed;
  opacity: 0;
  z-index: 100;
}

.submit-radio input[type="radio"]:checked+label,
.Checked+label {
  background: var(--btnSelect);
}

.submit-radio label:hover {
  background:var(--btnSelect);
}

input#name {
  text-align: center;
  font-size: 1.2em;
}

.submit-btn {
  min-width: 150px;
  font-size: 1.5rem;
}

.msg-success {
  color:rgb(100, 161, 88);
}

.msg-fail {
  color:rgb(213, 188, 46);
}

/* Donate page */
.qr-section img{
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}

.qr-section {
  color: black;
}